<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Clients</title>
</head>
<body>
<div  class="clientForm">
	<form th:action="@{/addClientForm}" method="post" id="addClientForm">
		<input type="text" name="id" placeholder="id">
		<input type="text" name="surname" placeholder="Surname">
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="patronymic" placeholder="Patronymic">
		<select name="gender" id="gender">
			<option th:each="gender:${genders}" th:value="${gender}" th:utext="${gender}"></option>
		</select>
		<input type="submit" id="submitAddClientForm" value="SAVE">
	</form>
	</div>
<div class="table" id="tableOutput">
	<table>
		<tr>
			<th>ID</th>
			<th>Surname</th>
			<th>Name</th>
			<th>Patronymic</th>
			<th>Gender</th>
			<th>Email</th>
		</tr>
		<tr th:each="client:${clients}">
			<td th:utext="${client.id}"></td>
			<td th:utext="${client.surname}"></td>
			<td th:utext="${client.name}"></td>
			<td th:utext="${client.patronymic}"></td>
			<td th:utext="${client.gender}"></td>
			<td>
				<form th:action="@{/openClientForm}" method="post">
				<input type="hidden" name="id" th:value="${client.id}">
				<input type="submit" value="&#8942;">
				</form>
			</td>
		</tr>
	</table>
</div>
</body>
</html>