<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Update</title>
</head>
<body>
<div class="clientForm">
  <form th:action="@{/updateClientCompanyForm}"  method="post">
     <div>
        <input type="text" name="id" readonly th:value="${client.id}">
        <input type="text" name="surname" placeholder="Surname" th:value="${client.surname}">
        <input type="text" name="name" placeholder="Name" th:value="${client.name}">
        <input type="text" name="patronymic" placeholder="Patronymic" th:value="${client.patronymic}">
        <select name="gender" id="gender">
           <option th:each="gender:${genders}" th:value="${gender}" th:utext="${gender}"
                   th:selected="${gender==client.gender}"></option>
        </select>
     </div>
     <div th:object="${client.company}">
        <input type="text" name="idCompany" placeholder="Id" th:value="*{id}">
        <input type="text" name="address" placeholder="Address" th:value="*{address}">
        <input type="text" name="city" placeholder="City" th:value="*{city}">
     </div>
      <input type="submit" value="SAVE">
  </form>
</div>
<div class="companyForm">
  <form action="" method="post"></form>
</div>
</body>
</html>