<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Companies</title>
</head>
<body>
<div  class="companyForm">
	<form th:action="@{/addCompanyForm}" method="post">
		<input type="text" name="id" placeholder="Id">
		<input type="text" name="address" placeholder="Address">
		<input type="text" name="city" placeholder="City">
		</select>
		<input type="submit" value="SAVE">
	</form>
</div>
<div class="table">
	<table>
		<tr>
			<th>ID</th>
			<th>Address</th>
			<th>City</th>
		</tr>
		<tr th:each="company:${companies}">
			<td th:utext="${company.id}"></td>
			<td th:utext="${company.address}"></td>
			<td th:utext="${company.city}"></td>
			<td>
				<form th:action="@{/openCompanyForm}" method="post">
				<input type="hidden" name="id" th:value="${company.id}">
				<input type="submit" value="&#8942;">
				</form>
			</td>
		</tr>
	</table>
</div>
</body>
</html>